body {
  font-family: sans-serif;
  font-weight: normal;
}

.header1 {
  height: 70px;
  text-align: center;
  font-family: sans-serif;
  vertical-align: center;
  padding-top: 20px;
  font-weight: normal;
  color: rgb(34, 163, 150);
  font-size: 40px;
}

.pantry-items {
  border: 1px solid black;
  width: 47%;
  margin-left: 30px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 30px;
  background-color: rgb(239,233,224);
  padding-top: 7px;
  padding-bottom: 7px;
}